<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>HouSafer</title>
    <link rel="stylesheet" th:href="@{/css/fraudCases.css}">
     <!-- 네이버 지도 -->
     <script type="text/javascript" src="https://openapi.map.naver.com/openapi/v3/maps.js?ncpClientId=66qp2soqq1"></script>
    </head>
</head>
<body>
    <div class="wrap">
        <!-- header : 공통요소로 대체 예정 -->
        <div class="header">
            <h1>header</h1>
        </div>
        <div class="container">
            <div class="con1">
                <!-- 지도영역 -->
                <div id="map"></div>
                <script>
                    // 초기값 설정
                    var mapOptions = {
                        center: new naver.maps.LatLng(37.3595704, 127.105399),
                        zoom: 10
                    };
                    
                    // 지도 생성
                    var map = new naver.maps.Map('map', mapOptions);
                    </script>
            </div>
<!--             
            <div class="con2">
            </div> -->

        </div>
        <!-- footer : 공통요소로 대체 예정 -->
        <div class="footer">
            <h1>footer</h1>
        </div>
    </div>
</body>
</html>