<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>HouSafer</title>
    <link rel="stylesheet" th:href="@{/css/index.css}">
<body>
    <div class="wrap">
        <!-- header : 공통요소로 대체 예정 -->
        <div class="header">
            <h1>header</h1>
        </div>
        <div class="container">
            <div class="con1">
                <!-- 부동산 실거래가 -->
                <a href="#">
                    <div class="realtyPrice" id="con1">
                        <img src="img/0.png" alt="">
                        <h3>부동산 실거래가 현황</h3>
                    </div>
                </a>
                <!-- 사기유형 정리 -->
                <a href="#">
                    <div class="fraudType">
                        <img src="img/1.png" alt="">
                        <h3>전세사기 유형 정리</h3>
                    </div>
                </a>
                <!-- 전문가 게시판 -->
                <a href="#">
                    <div class="expert" id="con1">
                        <img src="img/2.png" alt="">
                        <h3>피해지원 전문가 게시판</h3>
                    </div>
                </a>
            </div>
            <div class="con2">
                <!-- 피해사례 작성 페이지 -->
                <a href="#">
                    <div class="newFraudCase">
                        <img src="img/3.png" alt="">
                        <h3>피해사례 남기기</h3>
                    </div>
                </a>
                <!-- 피해사례 게시판  -->
                <a th:href="@{|/fraudCases|}">
                    <div class="fraudCases">
                        <img src="img/4.png" alt="">
                        <h3>피해사례 게시판</h3>
                    </div>
                </a>
            </div>
        </div>
        <!-- footer : 공통요소로 대체 예정 -->
        <div class="footer">
            <h1>footer</h1>
        </div>
    </div>
</body>
</html>