<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8"/>
        <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
        <title>footer</title>
        <link rel="stylesheet" href="/static/css/common/footer.css"/>
    </head>
    <body>
        <footer>
            <div class="inner">
                <!-- <a href="" ><img src="/static/img/common/footer/logo.png" alt="footer_logo"
                /></a> -->
                <div class="footer-terms-wrap">
                    <div class="terms">
                        <a href="">이용약관</a>
                        <a href="">개인정보처리방침</a>
                        <a href="">사업자정보확인</a>
                    </div>

                    <div class="footer-content">
                        <div>02-1263-1462</div>
                        <div>서울 노원구 상계로3길 21 3층,6층</div>
                        <div>@copyright 2023 by HouSafer All rights reserved.</div>
                    </div>
                </div>
            </div>
        </footer>
    </body>
</html>