<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8"/>
        <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
        <title>damageDetail</title>
        <link rel="stylesheet" href="/static/css/damage/damageDetail.css"/>
    </head>
    <body>
        <header>
            <div class="inner">
                <a href="#" class="logo"><img src="/static/img/common/header/logo.png" alt="header_logo"/></a>
                <nav>
                    <ul>
                        <li class="menu">
                            <a href="#">menu1</a>
                        </li>
                        <li class="menu">
                            <a href="#">menu2</a>
                        </li>
                        <li class="menu">
                            <a href="#">menu3</a>
                        </li>
                        <li class="menu">
                            <a href="#">menu4</a>
                        </li>
                        <li class="menu">
                            <a href="#">menu5</a>
                        </li>
                    </ul>
                </nav>
                <div class="button-wrapper">
                    <a class="profile">
                        <img src="/static/img/common/header/profile.png" alt=""/>
                    </a>
                    <button class="register">로그아웃</button>
                    <!-- <button class="register">회원가입</button> -->
                    <!-- <button class="login">로그인</button> -->
                </div>
            </div>
        </header>

        <div class="damageDetail">
            <div class="inner">
                <div class="damage-board">
                    <div class="detail-top">
                        <span class="status">사건 완료</span>
                        <h3 class="title">전세 계약 만료일이 23년 6얼 28일인데 중개사분이 전화가 와서 임대인이 압류가
                            걸렸다는 사실을 알았냐고 하셔서 그 전화로 임대인이 임대사업자였다는걸 알게되었습니다.</h3>
                        <div class="info">
                            <span class="writer">김땡땡</span>
                            <span class="writing-time">2023-06-28 15:26</span>
                            <span class="views">조회수 58</span>
                        </div>
                    </div>
                    <div class="detail-middle">
                      <div class="damage-case">
                        Lorem Ipsum is simply dummy text of the printing and typesetting industry.
                            Lorem Ipsum has been the industry's standard dummy text ever since the 1500s,
                            when an unknown printer took a galley of type and scrambled it to make a type
                            specimen book.
                            It has survived not only five centuries, but also the leap into electronic
                            typesetting, remaining essentially unchanged.
                            It was popularised in the 1960s with the release of Letraset sheets containing
                            Lorem Ipsum passages,
                            and more recently with desktop publishing software like Aldus PageMaker
                            including versions of Lorem Ipsum.
                            Lorem Ipsum is simply dummy text of the printing and typesetting industry.
                            Lorem Ipsum has been the industry's standard dummy text ever since the 1500s,
                            when an unknown printer took a galley of type and scrambled it to make a type
                            specimen book.
                            It has survived not only five centuries, but also the leap into electronic
                            typesetting, remaining essentially unchanged.
                            It was popularised in the 1960s with the release of Letraset sheets containing
                            Lorem Ipsum passages,
                            and more recently with desktop publishing software like Aldus PageMaker
                            including versions of Lorem Ipsum.
                            Lorem Ipsum is simply dummy text of the printing and typesetting industry.
                            Lorem Ipsum has been the industry's standard dummy text ever since the 1500s,
                            when an unknown printer took a galley of type and scrambled it to make a type
                            specimen book.
                            It has survived not only five centuries, but also the leap into electronic
                            typesetting, remaining essentially unchanged.
                            It was popularised in the 1960s with the release of Letraset sheets containing
                            Lorem Ipsum passages,
                            and more recently with desktop publishing software like Aldus PageMaker
                            including versions of Lorem Ipsum.
                          </div>
                          <div class="fraud-type-tag">
                              <a href="#"># 갭투자</a>
                              <a href="#"># 전입세대 열람내역 오류</a>
                              <a href="#"># 깡통전세</a>
                          </div>
                        </div>
                    <div class="detial-bottom">
                        <div class="experts-comment"></div>
                    </div>
                </div>
            </div>
        </div>

        <footer>
            <div class="inner">
                <!-- <a href="" ><img src="/static/img/common/footer/logo.png" alt="footer_logo"
                /></a> -->
                <div class="footer-terms-wrap">
                    <div class="terms">
                        <a href="">이용약관</a>
                        <a href="">개인정보처리방침</a>
                        <a href="">사업자정보확인</a>
                    </div>

                    <div class="footer-content">
                        <div>02-1263-1462</div>
                        <div>서울 노원구 상계로3길 21 3층,6층</div>
                        <div>@copyright 2023 by HouSafer All rights reserved.</div>
                    </div>
                </div>
            </div>
        </footer>
    </body>
</html>