<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <link href="expertDetail.css" rel="stylesheet" />
    <title>expert Psychological counselor</title>
</head>

<body>
    <div class="container">
        <div class="expertList">
            <div class="expertList-con">
                <div class="top-menu">
                </div>

                <div class="mid-menu">
                    <div class="mid-menu-con">
                        <!-- 그리드 -->
                        <ul>
                            <li class="expertList">
                                <!--이미지 있을 때, 없을 때-->
                                <div class="expertList-img">
                                    <a href="">
                                        <img src="https://via.placeholder.com/400x400" alt="">
                                    </a>
                                </div>
                                <!-- <div class="expertList-img">
                                    <a href="">
                                        <img src="https://via.placeholder.com/400x400" alt="">
                                    </a>
                                </div> -->
                                <div class="expertList-explain">
                                    <ul>
                                        <li>
                                            <span class="job">심리상담가</span><br>
                                            <span class="name">이이름</span>
                                        </li>
                                        <li class="history">
                                            <span class="brief-history">약력</span>
                                            <span>땡땡 심리대학원 졸</span><br>
                                            <span>미술심리상담가 1급</span><br>
                                            <span>한국심리학회 정회원</span>
                                        </li>
                                        <li class="contact">
                                            <span>T. 02-0000-0000</span><br>
                                            <span>F. 02-0000-0000</span><br>
                                            <span>E. Dang@gmail.com</span>
                                        </li>
                                    </ul>
                                </div>
                            </li>
                        </ul>
                    </div>
                    <div class="expertList-explain-detail">
                        <ul>
                            <li>
                                <img src="https://via.placeholder.com/800x400" alt="">
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>

</html>